/*Style doc*/
body{
    background: url(fondo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}
h1{
    text-align: center;
    line-height: 200%;
    font-size: 250%;
    font-weight: bold;
    font-style: italic;
    color: #283747;
    font-family: 'Roboto', sans-serif;
}
h3{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: WHITE;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    background: #283747;
    margin: 0 0 25px;
    overflow: hidden;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid #1AA1D4;
}
h4{
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
}
p{
    margin-left: 18px;
    text-align:left;
}
uL{
  list-style: circle;
}
#contact{
    list-style: none;
}
#content{
    width: 800px;
    margin: 0 auto;
    background-color: #FAEBD7;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}
.link{
    text-decoration:none;
}
.icons{
    width: 19px;
    height: 19px;
}
